form {
    background-color: rgb(228, 228, 228);
    width: 40%;
    margin: auto;
    border-radius: 20px;
    padding: 25px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
}

form label {
    width: 90%;
    font-weight: bold;
    margin: 5px;
    padding-left: 15px;
}

form input {
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 20px;
    width: 90%;
    padding: 8px;
    border-radius: 5px;
    border-width: 1px;
}




.select-css {
    font-size: 14px;
    font-weight: 400;
    padding: 8px;
    width: 90%;
    margin-top: 10px;
    margin-left: 20px;
    border: 1px solid #000000;
    border-radius: 5px;
}



form textarea {
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 20px;
    width: 90%;
    max-width: 90%;
    min-width: 90%;
    padding: 8px;
    border-radius: 5px;
    border-width: 1px;
    height: 120px;
}

form input[type="submit"] {
    padding: 10px;
    background-color: yellow;
    border-radius: 10px;
    border-width: 1px;
    border-color: #3865b9f1;
    color: #111;
    font-weight: bolder;
    width: 90%;
    margin-right: 50px;

    box-shadow: 15px 10px 12px rgba(0, 0, 0, 0.3);
}


th {
    padding: 5px;
    border-style: solid;
    background-color: lightgray;
    width: 140px;
    border-width: 3px;
}

table {
    box-shadow: 15px 10px 12px rgba(0, 0, 0, 0.3);
}

table,
td {
    font-size: small;
    margin: auto;
    padding: 5px;
    border-style: solid;
    border-width: 1px;
    background-color: rgb(234, 234, 234);
}

section {
    display: flex;
    display: inline;
}


@media (max-width: 800px) {
    form {
        width: 50%;
        border-radius: 20px;
    }
}

@media (max-width: 500px) {
    form {
        width: 85%;
        border-radius: 20px;
    }
}

@media (max-width: 1000px) {
    form {
        width: 80%;
        border-radius: 20px;
        padding: 25px;
    }
}